<app-article-preview
  *ngFor="let article of results"
  [article]="article">
</app-article-preview>

<div class="app-article-preview"
  [hidden]="!loading">
  Loading articles...
</div>

<div class="app-article-preview"
  [hidden]="loading || results.length">
  No articles are here... yet.
</div>

<nav [hidden]="loading || totalPages.length <= 1">
  <ul class="pagination">

    <li class="page-item"
      [ngClass]="{'active': pageNumber === currentPage}"
      *ngFor="let pageNumber of totalPages"
      (click)="setPageTo(pageNumber)">

      <a class="page-link" >{{ pageNumber }}</a>

    </li>

  </ul>
</nav><!-- Vista previa de artículos -->
<app-vista-previa-articulo
  *ngFor="let articulo of results"
  [articulo]="articulo">
</app-vista-previa-articulo>

<!-- Mensaje de carga -->
<div class="mensaje-carga"
  [hidden]="!loading">
  Cargando artículos...
</div>

<!-- Mensaje de ningún artículo -->
<div class="mensaje-carga"
  [hidden]="loading || results.length">
  No hay artículos aquí... aún.
</div>

<!-- Paginación -->
<nav [hidden]="loading || totalPages.length <= 1">
  <ul class="paginacion">

    

  </ul>
</nav>

